HTTP_PORT=0000
GRPC_PORT=00000

DSN=postgresql://postgres:password@localhost:5432/eucastanpay

JWT_SECRET=your_secret_key

REDIS_ADDR=localhost:6379
REDIS_PASSWORD=
REDIS_DB=0

EMAIL_API_KEY=SG.XXXXXXXVVVVVXXXXXXXX
APP_EMAIL=example@you.com
FROM_NAME=Finance

SERVICE_NAME=service-name
VERSION=v1.0.0
LOG_LEVEL=info